
body{
    background-image: url(../imgs/fondo.gif);
    position: relative;
}

.sidebar{
    border: 1px solid #000;
}

.nav-item:hover{
    background-color: #666666;
    border-radius: 10px;
}

.cuerpo{
    background-color: #fff;
    width: 100%;
    height: 100%;

}